.div-login
{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

nav {
    height: 50px;
}

.sidenav {
    height: 100rem;
    /* width: 200px; */
    /* position: fixed; */
    /* z-index: 1; */
    /* top: 50px; */
    /* left: 0; */
    /* background-color: #111; */
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }
  
 
  
  /* Add an active class to the active dropdown button */
  /* .active {
    background-color: green;
    color: white;
  } */
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  #invitation {
    cursor: pointer;
    border-radius: 8px;
    background-color: lightskyblue;
    border: none;
  }
  #invitation:hover {
    background-color: #86b7fe;
    outline: #262626;
  }

  .hide {
    display: none;
  }

#copy {
  border: none;
  background-color: transparent;
  
}
.copy:hover {
  border-radius: 8px;
  background-color: rgb(113, 111, 111);
}

.buttonload {
  background-color: #04AA6D; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 24px; /* Some padding */
  font-size: 16px; /* Set a font-size */
}

/* Add a right margin to each icon */
.fa {
  margin-left: -12px;
  margin-right: 8px;
}